* {
    font-size : 36px;
}


#labelNetwork,#textBrowserErrorDescription {
    margin-top : 20px;
}
#groupBoxAlarm,groupBoxControl
{
    margin-bottom : 0px;
}
/*dynamic property*/
QWidget[MAINSTATE="STATE_AUTO"] QPushButton#pushButtonPause:enabled
{
    background-color : Green;
}

QWidget[MAINSTATE="STATE_SEMI_AUTO"] QPushButton#pushButtonPause:enabled
{
    background-color : RED;
}

