*
{
/*    border : 1px solid black;*/
    font-size : 16px;
/*    margin : 1px 1px 1px 1px;*/
/*    padding : 1px 1px 1px 1px;*/
}

*#tableViewCommandBlock
{
    border : 1px solid black;
    height : 500px;
}
*#pushButtonDirectExecution
{
    border : 1px solid red;
    max-width : 100px;
    max-height : 100px;
/*    position : absolute;*/
/*    left : 10px;*/

}
